<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-3 float-left">
            <form class="app-search d-none d-lg-block">
              <div class="position-relative">
                <input type="text" class="form-control" placeholder="Buscar..." (keyup)="updateFilter($event)">
                <span class="bx bx-search-alt"></span>
              </div>
            </form>
          </div>
          <div class="col-3 float-right">
            <form class="app-search d-none d-lg-block">
              <div class="position-relative">
                <button type="button" class="btn btn-secondary btn-rounded">
                  <i class="bx bx-plus font-size-16 align-middle mr-2"></i> Añadir
                </button>
              </div>
            </form>
            
          </div>
        </div>

        <div></div>
          

        <ngx-datatable class="dark" [rows]="table.data" [columns]="table.columns" [columnMode]="'force'">
          <ngx-datatable-column *ngFor="let col of table.columns" [name]="col.name" [prop]="col.prop">
          </ngx-datatable-column>
          <ngx-datatable-column name="Actions" sortable="false" prop="id" *ngIf="table.actionsColumn.active">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>

              <ul class="list-inline font-size-16 contact-links mb-0">
                <li class="list-inline-item px-2" *ngFor="let button of table.actionsColumn.buttons">
                  <a ngbTooltip="{{button.tooltip}}" (click)="callBackClick($event, button, row)"><i
                      class="bx bx-{{button.icon}}"></i></a>
                </li>
              </ul>
            </ng-template>
          </ngx-datatable-column>

        </ngx-datatable>

      </div>
    </div>
  </div>
</div>