<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">

        <!-- Inicio Header -->

        <div class="row mb-2">
          <div class="col-sm-4">
            <div class="search-box mr-2 mb-2 d-inline-block">
              <div class="position-relative">
                <input type="text" class="form-control" placeholder="Search..." (keyup)="updateFilter($event)">
                <i class="bx bx-search-alt search-icon"></i>
              </div>
            </div>
          </div>

          <div class="col-sm-8 text-sm-right">
            <div class="">
              <button *ngFor="let btn of table.buttons" type="button" class="btn btn-success btn-rounded mb-2 mr-2"
                (click)="callBackClick($event, btn)"><i class="mdi mdi-{{btn.icon}} mr-1"></i>
                {{btn.text}}</button>
            </div>
          </div><!-- end col-->
        </div>

        <!-- Fin Header -->

        <!-- Nueva Tabla -->

        <div class="table-responsive mb-0">
          <table class="table table-centered table-nowrap table-hover">
            <thead class="thead-light">
              <tr>
                <th *ngFor="let column of table.columns">{{ column.name }}</th>
                <th *ngIf="table.actionsColumn.active">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of table.data">
                <td *ngFor="let column of table.columns">

                  <a class="text-body font-weight-bold" *ngIf="column.type == 'decimal'">
                    {{ data[column.prop] | number:'1.0-0':'es' }}
                  </a>

                  <a class="text-body font-weight-bold" *ngIf="column.type == 'text'">
                    <div *ngIf="column.showedName; then thenBlock else elseBlock;"></div>
                    <ng-template #thenBlock>{{ getShowedName(data, column.showedName) }}</ng-template>
                    <ng-template #elseBlock>{{ data[column.prop] }}</ng-template>
                  </a>

                  <a class="text-body font-weight-bold" *ngIf="column.type == 'checkbox'">
                    <div class="custom-control custom-checkbox custom-checkbox-outline custom-checkbox-success mb-3">
                      <input type="checkbox" class="custom-control-input" id="customCheck-outlinecolor2"
                        [checked]="data[column.prop]" readonly disabled>
                      <label class="custom-control-label" for="customCheck-outlinecolor2"></label>
                    </div>
                  </a>

                </td>

                <td *ngIf="table.actionsColumn.active">
                  <ul class="list-inline font-size-16 contact-links mb-0">
                    <li class="list-inline-item px-2" *ngFor="let button of table.actionsColumn.buttons">
                      <!-- <div [ngbTooltip]="row.disableDelete ? button.disabledTooltip : button.tooltip"> -->
                      <div [ngbTooltip]="test(data, button)">
                        <button type="button" class="btn" (click)="callBackClick($event, button, data)"
                          [class.disabled]="disable(data, button)" [disabled]="disable(data, button)"><i
                            class="font-size-16 bx bx-{{button.icon}}"></i></button>
                      </div>
                    </li>
                  </ul>
                </td>
                <!-- <td>
                    <a href="javascript: void(0);" class="text-body font-weight-bold">{{data.id}}</a>
                  </td>
                  <td>{{data.name}}</td>
                  <td>{{data.date}}</td>
                  <td>{{data.total}}</td>
                  <td>
                    <span class="badge badge-pill badge-soft-success font-size-12" [ngClass]=" { 'badge-soft-danger': data.status === 'Chargeback',
                                  'badge-soft-warning':data.status === 'Refund' }">{{data.status}}</span>
                  </td>
                  <td>
                    <i :class="`fab ${data.payment[0]} mr-1`"></i>
                    {{data.payment[1]}}
                  </td> -->
              </tr>
            </tbody>
          </table>

        </div>

      </div>
    </div>
  </div>
</div>