<div class="container-fluid">
    <app-page-title title="Programación" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    <div class="row">
        <div class="col-sm-6">
            <app-table [table]="table" (clickButton) = "callBack($event)"></app-table>
        </div>
        <div class="col-sm-6">
            <app-asignacion [events]="eventsSubject.asObservable()" (asignar) = "asignarClick($event)"></app-asignacion>
        </div>
    </div>
</div>


<ng-template #scrollDataModal let-modal>
    <app-programacion-edit [modal]="modal" [editProgramacion]="editProgramacion" (aceptar) = "aceptarPopupClick($event)"></app-programacion-edit>
</ng-template>

<ng-template #asignarModal let-modal>
    <app-asignacion [modal]="modal"  (asignar) = "asignarClick($event)"></app-asignacion>
</ng-template>