<div class="container-fluid">

    <app-page-title title="Alimentar" [breadcrumbItems]="breadCrumbItems"></app-page-title>

    <div class="row" *ngFor="let linea of lineas;">
        <!-- Inicio Linea -->
        <div class="col-xl-2">
            <div [class]="getBorderCard(linea.ESTADO, linea.ALARMA)">
                <div class="card-body">
                    <h4 class="card-title mb-2">{{linea.NOMBRE}}</h4>
                    <div class="row justify-content-center mb-3">
                        <div class="button-items">
                            <!-- <button type="button" [disabled]="linea.ALARMA || linea.ESTADO == 3 || linea.FINALIZADA"
                                class="btn btn-sm btn-outline-success" (click)="setEstadoLinea(linea.ID, 3)">
                                <i class="bx bx-play font-size-12 align-middle mr-2"></i> Iniciar
                            </button>
                            <button type="button" [disabled]="linea.ESTADO != 3" class="btn btn-sm btn-outline-warning"
                                (click)="setEstadoLinea(linea.ID, 2)">
                                <i class="bx bx-pause font-size-16 align-middle mr-2"></i> Pausar
                            </button>
                            <button type="button" [disabled]="linea.ESTADO == 1"
                                class="btn btn-sm btn-outline-secondary" (click)="setEstadoLinea(linea.ID, 1)">
                                <i class="bx bx-stop font-size-16 align-middle mr-2"></i> Detener
                            </button> -->
                            <app-button [text]="'Iniciar'" [typeButton]="'btn-outline-success'"
                                (clickButton)="setEstadoLinea(linea.ID, 3)"
                                [disable]="linea.ALARMA || linea.ESTADO == 3 || linea.FINALIZADA || jaulasHabilitadas(linea.ID)"
                                [tooltipDisable]="getIniciarTooltip(linea.ID)" [icon]="'play'"></app-button>
                            <app-button [text]="'Pausar'" [typeButton]="'btn-outline-warning'"
                                (clickButton)="setEstadoLinea(linea.ID, 2)" [disable]="linea.ESTADO != 3"
                                [icon]="'pause'"></app-button>
                            <app-button [text]="'Detener'" [typeButton]="'btn-outline-secondary'"
                                (clickButton)="setEstadoLinea(linea.ID, 1)" [disable]="linea.ESTADO == 1"
                                [icon]="'stop'">
                            </app-button>
                        </div>
                    </div>

                    <div class="row text-center">
                        <div class="col-lg-4">
                            <div class="mt-1">
                                <p class="text-muted mb-2">Presión</p>
                                <h4>{{ linea.PRESION }}
                                    <span class="text-success font-size-13">MB </span>
                                </h4>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="mt-1">
                                <p class="text-muted mb-2">Blower HZ</p>
                                <h4>{{ linea.PRESION }}
                                    <span class="text-success font-size-13">Hz </span>
                                </h4>
                            </div>
                        </div>

                        <div class="col-lg-4" *ngIf="linea.ESTADO == 2">
                            <div class="mt-1">
                                <p class="text-muted mb-2">Hz Pausa</p>
                                <ngx-slider [value]="linea.HZPAUSA" [options]="hzpausaOptions"
                                    (userChangeEnd)="updateHzPausa($event, linea.ID)">
                                </ngx-slider>
                            </div>
                        </div>
                    </div>

                    Programación: {{ getNombreProgramacion(linea.IDPROGRAMACION) }}
                    Estado: {{linea.ESTADO}}
                    <div class="mt-4 text-center">
                        Alarmas:
                        <span *ngIf="!linea.ALARMA" class="text-success">Sin Alarmas</span>
                        <span *ngIf="linea.ALARMA" class="text-danger">Con Alarmas</span>
                    </div>

                    <div class="mt-4 text-center" *ngIf="linea.ALARMA">
                        Problemas con:
                        <ul>
                            <li *ngFor="let alarma of alarmas | alarmaFilterbyLinea:linea.ID ">{{
                                getNombreTipoAlarma(alarma.IDTIPOALARMA) }}</li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>



        <!-- <div class="col-xl-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-5">Jaulas</h4>
                    <ul ngbNav #nav="ngbNav" class="nav-pills bg-light rounded">
                        <li *ngFor="let jaula of jaulas | jaulaFilterbyLinea:linea.ID ; index as i" ngbDropdown
                            [ngbNavItem]="i">

                            <div class="btn-group mr-1 mt-2" ngbDropdown>
                                <button (click)="nav.select(i)" type="button"
                                    [class]="jaula.claseEstado">{{jaula.NOMBRE}}</button>
                                <button type="button" [class]="jaula.claseEstado"
                                    class="dropdown-toggle dropdown-toggle-split" ngbDropdownToggle>
                                    <i class="mdi mdi-chevron-down"></i>
                                </button>
                                <div class="dropdown-menu" ngbDropdownMenu>
                                    <button class="dropdown-item"
                                        (click)="scrollModal(scrollDataModal)">Parametros</button>
                                    <div class="dropdown-divider"></div>

                                    <a *ngIf="jaula.estado != 4; else desactivadoTemplate" class="dropdown-item"
                                        (click)="desactivar(jaula.id)">Desactivar</a>
                                    <ng-template #desactivadoTemplate><a class="dropdown-item"
                                            (click)="activar(jaula.id)">Activar</a>
                                    </ng-template>
                                </div>
                            </div>
                            <ng-template ngbNavContent>
                                <p>Selectora: {{jaula.NOMBRE}}</p>

                                <div class="row">
                                    <div class="col-md-6" *ngIf="tasaOptions">
                                        <div class="p-3">
                                            <div class="row">
                                                <h5 class="font-size-28 pt-2 col-4">TASA </h5>
                                                <div class="col-8">
                                                    <div class="form-group">
                                                        <select [(ngModel)]="selectedFormula"
                                                            (ngModelChange)="cambioFormula()" id="formrow-inputState"
                                                            class="form-control">
                                                            <option *ngFor="let item of tasaSelect" [ngValue]="item.id">
                                                                {{ item.formula }}
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <ngx-slider [value]="getTasaVisible(jaula.ID)"
                                                [options]="getOptions(jaula.ID)"
                                                (userChangeEnd)="setTasa($event, jaula.ID)">
                                            </ngx-slider>
                                        </div>



                                    </div>

                                    <ng-container
                                        *ngFor="let alimentacion of alimentaciones | alimentacionFilterbyJaula : jaula.ID">
                                        VISITAACTUAL: {{alimentacion.VISITAACTUAL}}
                                        TOTALVISITAS: {{alimentacion.TOTALVISITAS}}
                                        OBJETIVOVISITA: {{alimentacion.OBJETIVOVISITA}}
                                        ENTREGADOVISITA: {{alimentacion.ENTREGADOVISITA}}
                                        TOTALENTREGADO: {{alimentacion.TOTALENTREGADO}}
                                        OBJETIVOTOTAL: {{alimentacion.OBJETIVOTOTAL}}
                                        HZDOSER: {{alimentacion.HZDOSER}}
                                        VISITASCOMPLETADAS: {{alimentacion.VISITASCOMPLETADAS}}
                                        FINALIZADA: {{alimentacion.FINALIZADA}}
                                        ESTADOALIMENTACION: {{alimentacion.ESTADOALIMENTACION}}
                                    </ng-container>
                                </div>


                            </ng-template>

                        </li>

                    </ul>

                    <div [ngbNavOutlet]="nav" class="mt-2"></div>

                </div>
            </div>
        </div> -->


        <!-- Inicio Jaulas Por Linea -->
        <!-- <div class="col-xl-5">
            <div class="row">
                <div class="col-xl-6" *ngFor="let jaula of jaulas | jaulaFilterbyLinea:linea.ID ; index as i">
                    <div class="card">
                        <div class="card-body">
                                <h4 class="card-title mb-4 float-sm-left">{{ jaula.NOMBRE }}</h4>
                                <div class="float-sm-right">
                                    <div class="custom-control custom-checkbox custom-checkbox-outline custom-checkbox-primary mb-3">
                                        <input [disabled]="linea.ESTADO == 3" type="checkbox"
                                            class="custom-control-input" id="{{ 'check' + jaula.ID }}"
                                            [checked]="jaula.HABILITADA" [(ngModel)]="jaula.HABILITADA"
                                            (ngModelChange)="logCheck(jaula.ID)">
                                        <label class="custom-control-label" for="{{ 'check' + jaula.ID }}"></label>
                                    </div>
                                </div>

                                <div class="row">
                                    
                                    <ng-container
                                        *ngFor="let alimentacion of alimentaciones | alimentacionFilterbyJaula : jaula.ID">
                                        VISITAACTUAL: {{alimentacion.VISITAACTUAL}}
                                        TOTALVISITAS: {{alimentacion.TOTALVISITAS}}
                                        OBJETIVOVISITA: {{alimentacion.OBJETIVOVISITA}}
                                        ENTREGADOVISITA: {{alimentacion.ENTREGADOVISITA}}
                                        TOTALENTREGADO: {{alimentacion.TOTALENTREGADO}}
                                        OBJETIVOTOTAL: {{alimentacion.OBJETIVOTOTAL}}
                                        HZDOSER: {{alimentacion.HZDOSER}}
                                        VISITASCOMPLETADAS: {{alimentacion.VISITASCOMPLETADAS}}
                                        FINALIZADA: {{alimentacion.FINALIZADA}}
                                        ESTADOALIMENTACION: {{alimentacion.ESTADOALIMENTACION}}
                                    </ng-container>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        <div class="col-xl-6">
            <div class="row">
                <div class="col-xl-6" *ngFor="let jaula of jaulas | jaulaFilterbyLinea:linea.ID ; index as i">
                    <div class="card"
                        *ngFor="let alimentacion of alimentaciones | alimentacionFilterbyJaula : jaula.ID">
                        <div class="card-body border-bottom">
                            <div class="row">
                                <div class="col-md-4 col-9">
                                    <h5 class="font-size-15 mb-1">{{jaula.NOMBRE}}</h5>
                                    <p class="text-muted mb-0"><i
                                            class="mdi mdi-circle text-success align-middle mr-1"></i>{{alimentacion.ESTADOALIMENTACION}}
                                    </p>
                                </div>
                                <div class="col-md-8 col-3">
                                    <ul class="list-inline user-chat-nav text-right mb-0">

                                        <li class="list-inline-item">
                                            <button class="btn nav-btn dropdown-toggle" type="button"
                                                (click)="scrollModal(scrollDataModal, jaula.ID)">
                                                <i class="bx bx-cog"></i>
                                            </button>
                                        </li>

                                        <li class="list-inline-item">
                                            <button class="btn nav-btn dropdown-toggle" type="button"
                                                (click)="cambiarHabilitada(jaula.ID)">
                                                <i class="bx bx-x" *ngIf="!jaula.HABILITADA"></i>
                                                <i class="bx bx-check " *ngIf="jaula.HABILITADA"></i>
                                            </button>

                                            <!-- <div
                                                class="custom-control custom-checkbox custom-checkbox-outline custom-checkbox-primary mb-3">
                                                <input [disabled]="linea.ESTADO == 3" type="checkbox"
                                                    class="custom-control-input" id="{{ 'check' + jaula.ID }}"
                                                    [checked]="jaula.HABILITADA" [(ngModel)]="jaula.HABILITADA"
                                                    (ngModelChange)="logCheck(jaula.ID)">
                                                <label class="custom-control-label"
                                                    for="{{ 'check' + jaula.ID }}"></label>
                                            </div> -->
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-body pb-2">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="text-left">
                                                <h5>{{alimentacion.VISITAACTUAL}} / {{alimentacion.TOTALVISITAS}}</h5>
                                                <p>Visitas</p>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="text-left">
                                                <h5>{{alimentacion.ENTREGADOVISITA | number:'':'es'}}<span
                                                        class="text-secondary font-size-13">
                                                        Kg</span> / {{alimentacion.OBJETIVOVISITA |
                                                    number:'':'es'}}<span class="text-secondary font-size-13"> Kg</span>
                                                </h5>
                                                <p>Entregado Visita</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="text-left">
                                        <h5>{{alimentacion.TOTALENTREGADO | number:'':'es'}}<span
                                                class="text-secondary font-size-13">
                                                Kg</span> / {{alimentacion.OBJETIVOTOTAL | number:'':'es'}}<span
                                                class="text-secondary font-size-13"> Kg</span></h5>
                                        <p>Entregado Total</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-footer bg-transparent border-top text-center">
                            <div class="contact-links d-flex font-size-14">
                                <div class="flex-fill">
                                    <a ngbTooltip="Dosificador"><i class="fas fa-wind"></i> {{jaula.HZSOPLADOR}} Hz</a>
                                </div>
                                <div class="flex-fill">
                                    <a ngbTooltip="Soplado"><i class="fas fa-stopwatch-20"></i> {{jaula.TIEMPOSOPLADO}}
                                        Seg</a>
                                </div>
                                <div class="flex-fill">
                                    <a ngbTooltip="Monorración"><i class="fas fa-weight-hanging"></i>
                                        {{jaula.MONORRACION | number:'':'es'}} Kg</a>
                                </div>
                                <div class="flex-fill">
                                    <a ngbTooltip="Tiempo de Espera"><i class="fas fa-clock"></i>
                                        {{jaula.TIEMPOESPERA}}</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <!-- Fin Jaulas Por Linea -->


        <!-- Fin Linea -->

    </div>



</div>

<!-- Scrollable Modal -->
<ng-template #scrollDataModal let-modal>
    <div class="modal-header" *ngIf="jaulaPopUp">
        <h5 class="modal-title mt-0">Parametros {{jaulaPopUp.NOMBRE}}</h5>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6" *ngIf="tasaOptions && jaulaPopUp">
                <div class="p-3">
                    <div class="row">
                        <h5 class="font-size-28 pt-2 col-4">TASA </h5>
                        <div class="col-8">
                            <div class="form-group">
                                <select [(ngModel)]="selectedFormula" (ngModelChange)="cambioFormula()"
                                    id="formrow-inputState" class="form-control">
                                    <option *ngFor="let item of tasaSelect" [ngValue]="item.id">
                                        {{ item.formula }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <ngx-slider [value]="getTasaVisible(jaulaPopUp.ID)" [options]="getOptions(jaulaPopUp.ID)"
                        (userChangeEnd)="setTasa($event, jaulaPopUp.ID)">
                    </ngx-slider>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Cerrar</button>
        <button type="button" class="btn btn-primary">Guardar Cambios</button>
    </div>
</ng-template>