<div class="container-fluid">

    <app-page-title title="Alimentar" [breadcrumbItems]="breadCrumbItems"></app-page-title>

    <div class="row" *ngFor="let linea of lineas;">
        <!-- Inicio Linea -->
        <div class="col-xl-2">
            <div [class]="getBorderCard(linea.ESTADO, linea.ALARMA)">
                <div class="card-body">
                    <h4 class="card-title mb-2">{{linea.NOMBRE}}</h4>
                    <div class="row justify-content-center mb-3">
                        <div class="button-items">
                            <app-button [text]="'Iniciar'" [typeButton]="'btn-outline-success'"
                                (clickButton)="setEstadoLinea(linea.ID, 3)"
                                [disable]="linea.ALARMA || linea.ESTADO == 3 || linea.FINALIZADA || jaulasHabilitadas(linea.ID)"
                                [tooltipDisable]="getIniciarTooltip(linea.ID)" [icon]="'play'"></app-button>
                            <app-button [text]="'Pausar'" [typeButton]="'btn-outline-warning'"
                                (clickButton)="setEstadoLinea(linea.ID, 2)" [disable]="linea.ESTADO != 3"
                                [icon]="'pause'"></app-button>
                            <app-button [text]="'Detener'" [typeButton]="'btn-outline-secondary'"
                                (clickButton)="setEstadoLinea(linea.ID, 1)" [disable]="linea.ESTADO == 1"
                                [icon]="'stop'">
                            </app-button>
                        </div>
                    </div>

                    <div class="row text-center">
                        <div class="col-lg-4">
                            <div class="mt-1">
                                <p class="text-muted mb-2">Presión</p>
                                <h4>{{ linea.PRESION }}
                                    <span class="text-success font-size-13">MB </span>
                                </h4>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="mt-1">
                                <p class="text-muted mb-2">Blower HZ</p>
                                <h4>{{ linea.PRESION }}
                                    <span class="text-success font-size-13">Hz </span>
                                </h4>
                            </div>
                        </div>

                        <div class="col-lg-4" *ngIf="linea.ESTADO == 2">
                            <div class="mt-1">
                                <p class="text-muted mb-2">Hz Pausa</p>
                                <ngx-slider [value]="linea.HZPAUSA" [options]="hzpausaOptions"
                                    (userChangeEnd)="updateHzPausa($event, linea.ID)">
                                </ngx-slider>
                            </div>
                        </div>
                    </div>

                    Programación: {{ getNombreProgramacion(linea.IDPROGRAMACION) }}
                    Estado: {{linea.ESTADO}}
                    <div class="mt-4 text-center">
                        Alarmas:
                        <span *ngIf="!linea.ALARMA" class="text-success">Sin Alarmas</span>
                        <span *ngIf="linea.ALARMA" class="text-danger">Con Alarmas</span>
                    </div>

                    <div class="mt-4 text-center" *ngIf="linea.ALARMA">
                        Problemas con:
                        <ul>
                            <li *ngFor="let alarma of alarmas | alarmaFilterbyLinea:linea.ID ">{{
                                getNombreTipoAlarma(alarma.IDTIPOALARMA) }}</li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

        <!-- Inicio Jaulas por Linea -->
        <div class="col-xl-6">
            <div class="row">
                <div class="col-xl-6" *ngFor="let jaula of jaulas | jaulaFilterbyLinea:linea.ID ; index as i">
                    <div class="card"
                        *ngFor="let alimentacion of alimentaciones | alimentacionFilterbyJaula : jaula.ID">
                        <div class="card-body border-bottom">
                            <div class="row">
                                <div class="col-md-4 col-9">
                                    <h5 class="font-size-15 mb-1">{{jaula.NOMBRE}}</h5>
                                    <p class="text-muted mb-0"><i
                                            class="mdi mdi-circle text-success align-middle mr-1"></i>{{alimentacion.ESTADOALIMENTACION}}
                                    </p>
                                </div>
                                <div class="col-md-8 col-3">
                                    <ul class="list-inline user-chat-nav text-right mb-0">

                                        <li class="list-inline-item">
                                            <button class="btn nav-btn dropdown-toggle" type="button"
                                                (click)="showPopup(scrollDataModal, jaula.ID)">
                                                <i class="bx bx-cog"></i>
                                            </button>
                                        </li>

                                        <li class="list-inline-item">
                                            <button class="btn nav-btn dropdown-toggle" type="button"
                                                (click)="cambiarHabilitada(jaula.ID)">
                                                <i class="bx bx-x" *ngIf="!jaula.HABILITADA"></i>
                                                <i class="bx bx-check " *ngIf="jaula.HABILITADA"></i>
                                            </button>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-body pb-2">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="text-left">
                                                <h5>{{alimentacion.VISITAACTUAL}} / {{alimentacion.TOTALVISITAS}}</h5>
                                                <p>Visitas</p>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="text-left">
                                                <h5>{{alimentacion.ENTREGADOVISITA | number:'':'es'}}<span
                                                        class="text-secondary font-size-13">
                                                        Kg</span> / {{alimentacion.OBJETIVOVISITA |
                                                    number:'':'es'}}<span class="text-secondary font-size-13"> Kg</span>
                                                </h5>
                                                <p>Entregado Visita</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="text-left">
                                        <h5>{{alimentacion.TOTALENTREGADO | number:'':'es'}}<span
                                                class="text-secondary font-size-13">
                                                Kg</span> / {{alimentacion.OBJETIVOTOTAL | number:'':'es'}}<span
                                                class="text-secondary font-size-13"> Kg</span></h5>
                                        <p>Entregado Total</p>
                                    </div>



                                </div>
                            </div>

                        </div>

                        <div class="card-footer bg-transparent border-top text-center">
                            <div class="contact-links d-flex font-size-14">
                                <div class="flex-fill">
                                    <a ngbTooltip="Dosificador"><i class="fas fa-wind"></i> {{jaula.HZSOPLADOR}} Hz</a>
                                </div>
                                <div class="flex-fill">
                                    <a ngbTooltip="Soplado"><i class="fas fa-stopwatch-20"></i> {{jaula.TIEMPOSOPLADO}}
                                        Seg</a>
                                </div>
                                <div class="flex-fill">
                                    <a ngbTooltip="Monorración"><i class="fas fa-weight-hanging"></i>
                                        {{jaula.MONORRACION | number:'':'es'}} Kg</a>
                                </div>
                                <div class="flex-fill">
                                    <a ngbTooltip="Tiempo de Espera"><i class="fas fa-clock"></i>
                                        {{jaula.TIEMPOESPERA}}</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <!-- Fin Jaulas Por Linea -->


        <!-- Fin Linea -->

    </div>



</div>

<!-- Scrollable Modal -->
<ng-template #scrollDataModal let-modal>
    <div class="modal-header" *ngIf="jaulaPopUp">
        <h5 class="modal-title mt-0">Parametros {{jaulaPopUp.NOMBRE}}</h5>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <form [formGroup]="parametrosForm">
                            <div class="row">
                                <!-- Monorracióm -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="formrow-email-input">Monorración (Kg)</label>
                                        <input type="number" class="form-control" min="0" formControlName="monorracion">
                                    </div>
                                </div>
                                <!-- Tiempo de Soplado -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Tiempo de Soplado</label>
                                        <input type="number" class="form-control" min="0"
                                            formControlName="tiempoSoplado">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <!-- Salida de Selectora -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Salida Selectora</label>
                                        <ng-select formControlName="posicionSelectora" [clearable]="false">
                                            <ng-option *ngFor="let salida of salidasSelectora" [value]="salida">
                                                {{salida}}</ng-option>
                                        </ng-select>
                                    </div>
                                </div>
                                <!-- Selección de Silo -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Silo</label>
                                        <ng-select [items]="silosPopUp" bindLabel="NOMBRE" bindValue="ID"
                                            formControlName="silo" [clearable]="false">
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <!-- Tiempo de Espera -->
                                <div class="col-md-6" [ngbTooltip]="tiempoEsperaTooltip">
                                    <div class="form-group">
                                        <label for="formrow-email-input">Tiempo de Espera</label>
                                        <input type="number" class="form-control" min="0"
                                            formControlName="tiempoEspera">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <!-- HZ Soplador -->
                                    <div class="form-group">
                                        <label for="formrow-password-input">Hz Soplador</label>

                                        <ngx-slider formControlName="hzSoplador" [options]="hzpausaOptions"
                                            >
                                        </ngx-slider>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6" *ngIf="jaulaPopUp">
                                    <!-- Tasa -->
                                    <div class="p-3">
                                        <div class="row">
                                            <h5 class="font-size-28 pt-2 col-4">TASA </h5>
                                            <div class="col-8">
                                                <div class="form-group">
                                                    <ng-select [items]="tasaSelect" bindLabel="formula" bindValue="id"
                                                        [clearable]="false" [(ngModel)]="selectedFormula"
                                                        (ngModelChange)="cambioFormula()"
                                                        [ngModelOptions]="{standalone: true}">
                                                    </ng-select>
                                                </div>
                                            </div>
                                        </div>
                                        <ngx-slider [value]="getTasaVisible(jaulaPopUp.ID)"
                                            [options]="opcionesTasa"
                                            (userChangeEnd)="setTasa($event, jaulaPopUp.ID)" formControlName="tasa">
                                        </ngx-slider>
                                    </div>
                                </div>

                                <div class="col-md-6" *ngIf="jaulaPopUp">
                                    <!-- Tasa -->
                                    <div class="p-3">
                                        <div class="row">
                                            <h5 class="font-size-28 pt-2 col-12">FACTOR ACTIVIDAD</h5>                                            
                                        </div>
                                        <ngx-slider style="margin-top: 53px" [value]="jaulaPopUp.FACTORACTIVIDAD"
                                            [options]="opcionesFactor" formControlName="factorActividad">
                                        </ngx-slider>
                                    </div>
                                </div>

                               
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <!-- end row -->

    </div>
    <div class="modal-footer">
        <app-button [text]="'Cancelar'" [typeButton]="'btn-secondary'" (clickButton)="modal.close('Close click')">
        </app-button>
        <app-button [text]="'Guardar Cambios'" [typeButton]="'btn-primary'" (clickButton)="setParametros()"
            [disable]="parametrosForm.invalid" [tooltipDisable]="'Debe Ingresar los datos correctamente'"></app-button>
    </div>
</ng-template>